footer {
    color:white;
    text-align: center;

}

.nav-item{
    color:black;
}

.container p {
    display: block;
    align-items:center;
    margin-left:50px;

}

.container img {
    display:block;
    margin-right: 20px; 
    align-items: center;
}


.container1 {
    margin-left:50px;
}


.container1 del {
    margin-left:15px;
}


#navbar img {
    width: 80px; 
    float: left; 
    margin-right: 10px;
}

.navigation .nav-link {
    color: white; /* Set text color to white */
}

.card{
    margin-left:15px;
}

.card-img-top{
    height:300px;
    object-fit:cover;
}

h1 {
    text-align: center;
    color:white;
    font-family: "Roboto", sans-serif;
}

h2 {
    text-align: center;
    color:white;
}

.pic {
    width: 500px;
    display:inline-block;
    margin-inline-start: 150px;
    border: 2px solid red;

}

#home p, #home div {
    color: white; /* Set text color to white */
    max-width: 750px; /* Set the maximum width of the text */
    text-align: left; /* Center the text horizontally */
    padding: 25px;

}

body {
    overflow-x: hidden;
}


.int {
    text-align: center;
    color:white;
    padding-top:25px;
    font-size:50px;
}

#headphones p{
    color:white;
    text-align:left;
}

#headphones div {
    color: white; /* Set text color to white */
}

#headphones h2{
    padding-bottom:25px;
}


#home1 {
    background: linear-gradient(to bottom right, black 15%, red 85%); /* Define the gradient */
}

body {
    background-color: #1a1a1a !important; /* Dark background color */
    color: white; /* Text color */
}

#home hr, #headphones hr {
    border-color: white !important; /* White color for <hr> */
}
