footer {
    color:white;
    text-align: center;

}

.nav-item{
    color:black;
}

.container p {
    display: block;
    align-items:center;
    margin-left:50px;

}

.container img {
    display:block;
    margin-right: 20px; 
    align-items: center;
}


.container1 {
    margin-left:50px;
}


.container1 del {
    margin-left:15px;
}


#navbar img {
    width: 80px; 
    float: left; 
    margin-right: 10px;
}

.navigation .nav-link {
    color: white; /* Set text color to white */
}


h1 {
    text-align: center;
    color:white;
    font-family: "Roboto", sans-serif;
}

h2 {
    text-align: center;
    color:white;
}

.pic {
    width: 500px;
    display:inline-block;
    margin-inline-start: 150px;
}

#home p, #home div {
    color: white; /* Set text color to white */
    max-width: 600px; /* Set the maximum width of the text */
    text-align: justify; /* Center the text horizontally */
    padding: 20px;

}


#headphones p, #headphones div {
    color: white; /* Set text color to white */
}


#home1 {
    background: linear-gradient(to bottom right, black, red); /* Define the gradient */
}

body {
    background-color: #1a1a1a !important; /* Dark background color */
    color: white; /* Text color */
}

#home hr, #headphones hr {
    border-color: white !important; /* White color for <hr> */
}
