footer {
    color:white;
    text-align: center;

}

.nav-item{
    color:black;
}

.container p {
    display: block;
    align-items:center;
    margin-left:50px;

}


#home1 h1{
    padding-top:10px;
    font-size: 86px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


.container img {
    display:block;
    margin-right: 20px; 
    align-items: center;
}


.container1 {
    margin-left:50px;
}


.container1 del {
    margin-left:15px;
}


#navbar img {
    width: 80px; 
    float: left; 
    margin-right: 10px;
}

.navigation .nav-link {
    color: white; 
}

.card{
    margin-left:15px;
}

.card-img-top{
    height:300px;
    object-fit:cover;
}

h1 {
    text-align: center;
    color:white;
    font-family: "Roboto", sans-serif;
}

h2 {
    text-align: center;
    color:white;
}

.custom-form{
    max-width:375px;
}


.custom-alert{
    max-width: 400px;
    text-align:left;
    margin-left:20px;
}

.custom-button{
    margin-top: 15px;
    display:inline-block;
    margin-inline-start: 150px;
}

.custom-button1{
    margin-top:15px;
    display:inline-block;
    margin-inline-start: 485px;
}


#home .pic {
    width: 500px;
    display:inline-block;
    margin-inline-start: 150px;
    border: 2px solid red;
} 

#home p, #home div {
    color: white; /* Set text color to white */
    max-width: 750px; /* Set the maximum width of the text */
    text-align: left; /* Center the text horizontally */
    padding: 25px;

}

body {
    overflow-x: hidden;
}


.int {
    text-align: center;
    color:white;
    padding-top:15px;
    font-size:50px;
}

#headphones p{
    color:white;
    text-align:left;
}

#headphones div {
    color: white; /* Set text color to white */
}

#headphones h2{
    padding-bottom:25px;
}


#home1 {
    background: linear-gradient(to bottom right, black,rgb(17, 17, 17),rgb(159, 15, 15) 75% ); /* Define the gradient */
}

body {
    background-color: #1a1a1a !important; /* Dark background color */
    color: white; /* Text color */
}

#home hr, #headphones hr , #mouse hr , #contact hr{
    border-color: white !important; /* White color for <hr> */
}



#contact {
    color:white;
}

#contact form{
    padding-left:20px;
    padding-bottom: 20px;
}